.footer{
    display: flex;
    justify-content: space-around;
    
 
}
.footer__link{
    color: black;
    text-decoration: none;
}
@media screen and (max-width:768px) {
    .footer{
        flex-direction: column;
    }
}